
.navbar{role: 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.mr-liney= image_tag 'mr_liney.png'
    .navbar-collapse.collapse

      %ul.nav.navbar-nav
        %li
          %a{href: "/"}
            %span.hover-cube
              = image_tag 'hover_icon.jpg'
            %span.title Home
        %li
          %a{href: "/#portfolio"}
            %span.hover-cube
              = image_tag 'hover_icon.jpg'
            %span.title Portfolio
        %li
          %a{href: "/#about"}
            %span.hover-cube
              = image_tag 'hover_icon.jpg'
            %span.title About
        %li
          %a{href: "/#contact-me"}
            %span.hover-cube
              = image_tag 'hover_icon.jpg'
            %span.title Contact

      %ul.social-horizontal.navbar-nav.nav.pull-right.nav-social-container.hidden-xs
        %li
          =image_tag 'behance_icon.png'
        %li
          =image_tag 'linkedin_icon.png'
        %li
          =image_tag 'github_icon.png'
        %li
          =image_tag 'contact_icon.png'
