!!!
%html
  %head
    %title Brittany Marie
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = favicon_link_tag 'favicon.png?v=2', type: 'image/png'

    =render partial: '/shared/typekit_fonts'

  %body

    -# =render partial: 'layouts/menu'
    .container-fluid.top-level-section.reapeating-image
      .row
        .col-xs-12.no-padding
          .banner
            .container
              .row
                .col-xs-12.centered
                  .inline
                    =image_tag 'bmarie_logo.svg', class: [:logo, :'center-block', 'img-responsive']

    .container-fluid
      .row.content
        .col-md-12
          = yield
      .row.footer
        %p &copy; #{ Date.today.year } Brittany Marie Design
  =render partial: '/shared/modal'
  = javascript_include_tag "application", "data-turbolinks-track" => true
  =render partial: '/shared/google_analytics'
